
.data-row {
  align-items: center;
}
/* Personal Data Component */
.data-item {
  /* font-size: small !important; */
  padding-left: 1rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.data-item > .form-check {
  min-height: unset !important;
}
.data-item > .form-select, .data-item > input {
  padding: 0.3rem;
  font-size: small;
}
.data-group {
  flex-direction: row !important;
  flex-wrap: wrap;
}