.list-container {
  height: 7rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  border-radius: 0% !important;
}
.list-container-item{
    font-size: small;
    padding:0.3rem 1rem !important;
    border-left: 0px !important;
    border-radius: 0% !important;
    border-right: 0px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.datePicker {
  border-color: silver !important;
  border-width: 1px !important;
  border-style: solid !important;
  width: 100% !important;
}
.goal-detail-input {
  /* font-size: small !important; */
  /* padding: 0.3rem !important; */
}
.detail-container {
  padding: 0px !important;
  margin-bottom: 1rem !important;
  flex: 0 0 auto !important;
  width: 30% !important;
}
.detail-header {
  display: flex;
  width: 9rem !important;
  align-content: center;
  justify-content: flex-end;
}
.detail-header > button:nth-child(1) {
  margin-right: 0.5rem;
}
.detail-container > button {
    font-size: small !important;
    padding: 0.05rem 0.4rem !important
}
.detail-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.detail-card-body{
    padding: 0.25rem 0.95rem !important
}
.cardFocus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(74 35 90 / 25%);
}
