.searchContactLog {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.ContactLogBtns {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 0.5rem;
    width: 100%;
  }
}
.dataItem {
  text-align: start;
  background-color: lightgray;

  .card-body {
    padding: 1rem;
  }
}
.dataGroup {
  width: 95% !important;
  height: 20rem;
  max-height: 20rem;
  overflow-y: auto;
  border-top: 1px solid lightgray;
  font-size: x-small;
}
.assessmentItem {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  width: 100%;
  margin-left: 0;

  button {
    font-size: small;
    padding: 0.3rem;
  }
}
.contactItemHeader {
  padding: 0.2rem 0.5rem;
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  button {
    width: 1.5rem;
    padding: 0;
    font-size: small;
    border: 0;
  }
}
.assessmentDetail {
  font-size: small;
  // border: 1px solid gray;
  // border-radius: 0.5rem;
  // height: 4rem;
  // padding-top: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  // overflow: auto;
}
.assessmentDetailRow {
  align-items: center;
  margin-top: 0.5rem;
}
.assessmentCard {
  margin-top: 0.5rem;
  width: 98%;
  border: 0.1rem solid;
}
.dataAlert {
  text-align: center;
  padding: 0 !important;
  // display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  // margin-bottom: 0.5rem;
  // font-size: small;
}
.dataTableRow {
  width: 100%;
  margin-left: -0.8rem;
}
.dataTableCol {
  width: 100%;
  height: 20rem;
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.8rem;
  margin-right: -0.8rem;
}
