.container-row {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.modal-width {
    background-color: red;
    width: 90%
}