.settings-menu {
  border-right: 1px solid silver;
  height: 80vh;
}
.select-container {
  height: 30rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.inactive-list-group {
  overflow: auto;
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.inactive-list-group > .list-group > .list-group-item {
  text-transform: capitalize;
  font-size: small;
  padding: 0.2rem !important;
  padding-left: 0.5rem !important;
}
.move-to-card {
  height: 15rem !important;
}
.alpha-list {
  overflow: auto;
  height: 100%;
  border-right: 1px solid silver;
  padding: 0rem !important;
  font-size: small;
}
.spinner-activate {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.settings-main {
  height: 80vh;
}
.settings-activate-overflow {
  overflow: auto !important;
  height: 100%;
}
.settings-activate {
  height: 94%;
}
.settings-listgroup {
  height: 15rem;
  overflow: auto;
  border: 1px solid silver;
}
.settings-listgroup-services {
  height: 18rem;
  overflow: auto;
  border: 1px solid silver;
}
.fade-in-out {
  opacity: 1;
  transition: opacity 3.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}