.alert-width {
    max-width: 30% !important;
}
.alert-signature {
    max-width: 50% !important;
}
.alertHeader {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    background-color: #4a235a;
    color: white;
}
