.addByGroup {
  display: flex;
  padding-top: 1rem;
  justify-content: space-evenly;
  button {
    padding: 0.2rem;
    font-size: x-small;
    width: 40%;
  }
}
.addIndvidual {
  font-size: small;
  button {
    padding: 0.2rem;
    font-size: x-small;
    width: 50%;
  }
}
.cardHeader {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}
.dataGroup {
  width: 95% !important;
  // height: 15rem;
  max-height: 15rem;
  overflow-y: auto;
  border-top: 1px solid lightgray;
  font-size: smaller;
}
.dataItem {
  text-align: start;
  // background-color: lightgray;
}