.notes {
  padding: 0.5rem !important;
  padding-bottom: 0 !important;
  align-items: center;
  justify-content: center;
}
.addNewNoteRow {
  padding: 0.5rem !important;
}
.dataTableRow {
  width: 100%;
  margin-left: -0.8rem;
}
.dataTableCol {
  width: 100%;
  height: 20rem;
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.8rem;
  margin-right: -0.8rem;
  table {
    thead {
      white-space: nowrap;
      font-size: small;
    }
    td {
      font-size: small;
    }
  }
}
.noWrap {
  white-space: nowrap;
}
.addNewNote {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  select {
    width: 50%;
  }
  button {
    margin-left: 0.5rem;
  }
}
