.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.data-row {
  align-items: center;
}
.container-a {
  margin-top: 1.5rem !important;
  /* align-items: center; */
}
/* Demographic Info Component */
.demoInfo {
  font-size: x-small;
}

/* Personal Data Component */
.data-item {
  width: 50%;
  font-size: small !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.data-item > .form-check {
  min-height: unset !important;
}
.data-group {
  flex-direction: row !important;
  flex-wrap: wrap;
}
/* Personal Information */
.pi {
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
}
.pi-nav > .nav-item {
  /* white-space: nowrap; */
  font-size: small !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pi-nav > .nav-item > .nav-link {
  /* white-space: nowrap; */
  padding-left: 0;
  padding-right: 0;
}
.pi-nav {
  align-content: center;
  /* flex-direction: column; */
  padding-left: 0rem !important;
  padding-right: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-right: 1px solid #dee2e6;
  height: 100%;

  /* flex-flow: nowrap !important; */
  /* overflow-x: scroll; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
