$primary: #4a235a;
$light: #dbd3de;
$link-color: #4a235a;
$list-group-active-bg: #4a235a;
$list-group-active-border-color: #4a235a;
$accordion-button-active-bg: rgb(219, 211, 222);
$accordion-button-active-color: #4a235a;
$accordion-button-focus-box-shadow: 0 0 0 0.25rem rgb(74 35 90 / 25%);
$btn-focus-box-shadow: 0 0 0 0.25rem rgb(74 35 90 / 25%);
$card-cap-bg: rgb(219, 211, 222);
@import "~bootstrap/scss/bootstrap.scss";
